{namespace bwrk=BERGWERK\BwrkFluidmenu\ViewHelpers}

<f:render section="{menuType}" arguments="{_all}" />

<f:section name="Default">
    <f:if condition="{layer} <= {showLevels}">
        <li class="{f:if(condition: page.hasSubpages, then: '{f:if(condition: \'{layer} > 0\', then: \'dropdown-submenu\', else: \'dropdown\')}')} item{page.uid} {bwrk:isActive(number: '{page.uid}', array: '{activePages}')}">
            <f:render partial="Menu/Item" arguments="{page: page, layer: layer, menuType:menuType, activePages: activePages, showLevels:showLevels}" />
        </li>
    </f:if>
</f:section>

<f:section name="Mobile">
    <f:if condition="{layer} <= {showLevels}">
        <li class="{f:if(condition: page.hasSubpages, then: '{f:if(condition: \'{layer} > 0\', then: \'dropdown-submenu\', else: \'dropdown\')}')} item{page.uid} {bwrk:isActive(number: '{page.uid}', array: '{activePages}')}">
            <f:if condition="{page.hasSubpages}">
                <span class="icon icon-caret-down dropdown-toggle" data-toggle="dropdown"></span>
            </f:if>
            <f:render partial="Menu/Item" arguments="{page: page, layer: layer, menuType:menuType, activePages: activePages, showLevels:showLevels}" />
        </li>
    </f:if>
</f:section>

<f:section name="Submenu">
    <f:if condition="{layer} <= {showLevels}">
        <li class="{f:if(condition: index.isFirst, then: 'first')}{f:if(condition: index.isLast, then: 'last')} {bwrk:isActive(number: '{page.uid}', array: '{activePages}')}">
            <f:render partial="Menu/Submenu/Item" arguments="{page: page, layer: layer, menuType:menuType, activePages: activePages, index:index, showLevels:showLevels}" />
        </li>
    </f:if>
</f:section>