{namespace bwrk=BERGWERK\BwrkFluidmenu\ViewHelpers}

<f:render section="{menuType}" arguments="{_all}" />

<f:section name="Default">
    <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="nav navbar-nav">
            <f:render partial="Before/Default" />

            <f:for each="{bwrk:page.menu(pId:pId)}" as="page">
                <f:render partial="Menu/Wrapper" arguments="{page:page, layer:layer, menuType:menuType, activePages:activePages}" />
            </f:for>

            <f:render partial="After/Default" />
        </ul>
    </div>
</f:section>

<f:section name="Mobile">
    <div class="mobile-menu-wrap">
        <ul class="nav">
            <f:render partial="Before/Mobile" />

            <f:for each="{bwrk:page.menu(pId:pId)}" as="page">
                <f:render partial="Menu/Wrapper" arguments="{page:page, layer:layer, menuType:menuType, activePages:activePages}" />
            </f:for>

            <f:render partial="After/Mobile" />
        </ul>
    </div>
</f:section>

<f:section name="Submenu">
    <f:render partial="Before/Submenu" />

    <f:for each="{bwrk:page.menu(pId:pId)}" as="page" iteration="index">
        <f:render partial="Menu/Wrapper" arguments="{page:page, layer:layer, menuType:menuType, activePages:activePages, index:index}" />
    </f:for>

    <f:render partial="After/Submenu" />
</f:section>